.title {
  background-color: tomato;
  cursor: pointer;
}

.choice {
  background-color: #c0c0c0;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  padding: 4px 10px;
  margin: 20px auto 3px;
}
